{% extends "_bone.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    
{% endblock head %}


{% block body %}
    <header class="">
        <div class="header_wrapper container">
        	<a href="/" class="logo"><img src="{% get_static_prefix %}web/img/logo3.png" alt=""  class="logo_def" width="242" height="39"><img src="{% get_static_prefix %}web/img/logo3.png" alt="" class="logo_retina" width="184" height="39"></a>
            <nav>
                <ul class="menu">
                    <li {% if current == 'home' %}class="current-menu-parent"{% endif %}><a href="/">HOME</a></li>
                    <li {% if current == 'galleries' %}class="current-menu-parent"{% endif %}><a href="javascript:void(0)">GALLERIES</a>
                        <ul class="sub-menu">
                            {% for set in sets %}
                            <li><a href="{% url 'set' slug=set.slug  %}">{{ set.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li {% if current == 'about' %}class="current-menu-parent"{% endif %}><a href="{% url 'about' %}">ABOUT</a></li>
                </ul><!-- .menu -->
                <div class="clear"></div>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    {% block footer %}{% endblock %}
    
{% endblock body %}
