<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="ie ie9"> <!--<![endif]-->
<head>
{% block head %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="description" content="{% block page_description %}{% endblock %}"/>
    <meta name="keywords" content="{% block page_keywords %}{% endblock %}"/>

    <!-- Mobile Specific Metas
    +++++++++++++++++++++++++++ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% get_static_prefix %}web/img/favico.ico">

    <link rel="apple-touch-icon" href="{% get_static_prefix %}web/img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{% get_static_prefix %}web/img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{% get_static_prefix %}web/img/apple_icons_114x114.png">

    <title>Pixelfields's Photos {% block page_title %}{% endblock %}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/theme.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/theme_settings.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/skin.css">
	<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/color_theme.css" id="theme_color">

    <!--[if IE 8 ]>
    <link rel="stylesheet" type="text/css" href="css/ie_css.css">
    <script>
        var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
        for (var i = 0; i < e.length; i++) {
            document.createElement(e[i]);
        }
    </script>
    <![endif]-->
    {% block additional_headers %}{% endblock %}
{% endblock head %}
</head>
<body {% block body_class %}{% endblock %}>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1563156-20', 'auto');
      ga('send', 'pageview');
    
    </script>
{% block body %}{% block content %}{% endblock %}{% endblock %}
</body>
</html>
