 /*Output Theme Version: 1.0.0*/
/*-----------------------------*/
/*Responsive*/
/*Style.css*/

.mobile_menu_wrapper {
	display:none;	
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {

	.list-of-images { 
		margin-left:-20px!important;
		margin-top:-20px!important;
	}
	.list-of-images .gallery_item { 
		margin-left:20px!important;
		max-width:220px!important;
		margin-top:20px!important;
	}
	.list-of-images .gallery_item {
		max-width:220px!important;
	}
	.list-of-images .gallery_item .gallery_descr,
	.image-grid .filter_img .gallery_descr {
		padding-bottom:12px;
	}
	.list-of-images .gallery_item .gallery_title,
	.image-grid .filter_img .gallery_descr h5 {
		margin-bottom:10px!important;
	}
	.image-grid .filter_img .gallery_descr p{
		margin-bottom:0px;
	}

	.module_gallery_wall .list-of-images,
	.module_gallery_wall .list-of-images .gallery_item {
		margin:0!important;
	}		
	.module_gallery_wall .list-of-images .gallery_item {
		width:25%!important;
		max-width:25%!important;
	}
	.module_gallery_wall .gallery_item img {
		width:100%;
		height:auto;
	}

	.list-of-images {
		margin:-20px 0 0 -20px!important;
	}
	.list-of-images .gallery_item {
		margin:20px 0 0 20px!important;
		float:left;
	}
	.list-of-images.images_in_a_row_2 .gallery_item,
	.list-of-images.images_in_a_row_2 .gallery_item img {
		width:460px!important;
		height:auto
	}
	.list-of-images.images_in_a_row_3 .gallery_item,
	.list-of-images.images_in_a_row_3 .gallery_item img {
		width:300px!important;
		height:auto
	}
	.list-of-images.images_in_a_row_4 .gallery_item,
	.list-of-images.images_in_a_row_4 .gallery_item img {
		width:220px!important;
		height:auto
	}

	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item img {
		width:340px!important;
		height:auto
	}
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item img {
		width:220px!important;
		height:auto
	}
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item img {
		width:160px!important;
		height:auto
	}
	
	.fs_grid_module .grid_gallery-item {
		width:25%!important;
	}
	.fullscreen_block .image-grid .element {
		width:24.99%!important;
	}	

	.fs_blog_module .blog_item {
		width:25%;
		display:inline-block;
		float:left;
	}	
	
}
	
@media only screen and (min-width: 760px) and (max-width: 959px) {

	.module_gallery_wall .list-of-images,
	.module_gallery_wall .list-of-images .gallery_item {
		margin:0!important;
	}		
	.module_gallery_wall .list-of-images .gallery_item {
		width:33.3334%!important;
		max-width:33.3334%!important;
	}
	.module_gallery_wall .gallery_item img {
		width:100%;
		height:auto;
	}

	.list-of-images { 
		margin-left:-20px!important;
		margin-top:-20px!important;
	}
	.list-of-images .gallery_item { 
		margin-left:20px!important;
		max-width:340px!important;
		margin-top:20px!important;
	}
	.list-of-images .gallery_item {
		max-width:340px!important;
	}
	.left-sidebar .list-of-images,
	.right-sidebar .list-of-images { 
		margin-left:-14px!important;
		margin-top:-14px!important;
	}
	.left-sidebar .list-of-images .gallery_item,
	.right-sidebar .list-of-images .gallery_item { 
		margin-left:14px!important;
		max-width:262px!important;
		margin-top:14px!important;
	}

	.list-of-images .gallery_item .gallery_descr,
	.image-grid .filter_img .gallery_descr {
		padding-bottom:12px;
	}
	.list-of-images .gallery_item .gallery_title,
	.image-grid .filter_img .gallery_descr h5 {
		margin-bottom:10px!important;
	}
	.image-grid .filter_img .gallery_descr p{
		margin-bottom:0px;
	}

	header nav ul.menu > li {
		margin-right:15px;
	}
	.socials,
	.copyright  {
		float:none!important;
		text-align:center;
	}

	.widget_flickr .flickr_badge_image, .widget_flickr .flickr_badge_image a {
		width:80px!important;
		height:80px!important;
	}
	.widget_flickr .flickr_badge_image img,
	.widget_flickr .flickr_badge_image .flickr_wrapper,
	.widget_flickr .flickr_badge_image .wrapped_img { 	
		width:80px!important;
		height:80px!important;
	}
	
	.shortcode_promoblock .promo_text_block,
	.shortcode_promoblock .promo_text_block h1,
	.shortcode_promoblock .promo_text_block h5 {
		text-align:center!important;
	}
	.shortcode_promoblock .promo_text_block.span8 h5,
	.shortcode_promoblock .promo_text_block.span8 h1,
	.shortcode_promoblock .promo_text_block.span8 {
		text-align:center!important;
	}
	.shortcode_promoblock .promo_text_block {
		width:100%!important;
	}
	.shortcode_promoblock .promo_button_block {
		padding-top:15px;
		width:100%;
		display:block;
		text-align:center;	
	}
	.shortcode_promoblock {
		padding-top:15px;
	}
	
	.recent_posts li {
		margin-bottom:25px!important;
	}
	.recent_posts_img {
		float:none!important;
		display:block;
		margin:0 0 10px 0!important;
		width:100%!important;
		position:static!important;
	}
	.recent_posts_img img {
		width:100%!important;
		height:auto!important;
		display:block!important;
		margin:0!important;
	}
	
	.recent_posts .recent_posts_content {
		width:100%!important;
		float:none!important;
		display:block!important;
		padding:0!important;
	}

	.shortcode_tabs.type2 .all_heads_cont,
	.shortcode_tabs.type3 .all_heads_cont { 
		width:150px;		
	}

	.wrapper404 h1 {
		font-size:60px;
		line-height:62px;
	}	

	.list-of-images {
		margin:-20px 0 0 -20px!important;
	}
	.list-of-images .gallery_item {
		margin:20px 0 0 20px!important;
		float:left;
	}

	.right-sidebar .list-of-images,
	.left-sidebar .list-of-images {
		margin:-14px 0 0 -14px!important;
	}
	.right-sidebar .list-of-images .gallery_item,
	.left-sidebar .list-of-images .gallery_item {
		margin:14px 0 0 14px!important;
		float:left;
	}
	
	.list-of-images.images_in_a_row_2 .gallery_item,
	.list-of-images.images_in_a_row_2 .gallery_item img {
		width:352px!important;
		height:auto
	}
	.list-of-images.images_in_a_row_3 .gallery_item,
	.list-of-images.images_in_a_row_3 .gallery_item img {
		width:228px!important;
		height:auto
	}
	.list-of-images.images_in_a_row_4 .gallery_item,
	.list-of-images.images_in_a_row_4 .gallery_item img {
		width:166px!important;
		height:auto
	}

	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item img {
		width:262px!important;
		height:auto
	}
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item img {
		width:170px!important;
		height:auto
	}
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item img {
		width:124px!important;
		height:auto
	}	

	.fs_grid_module .grid_gallery-item {
		width:33.33%!important;
	}
	.fullscreen_block .image-grid .element {
		width:33.3%!important;;
	}
	
	.fs_blog_module .blog_item {
		width:33.33%;
		display:inline-block;
		float:left;
	}	
	
}
a.menu_toggler { 
	display:none;
}
@media only screen and (max-width: 760px) {
	header .logo,
	header.type1 .logo,
	header.type2 .logo,
	header.type3 .logo,
	header.type4 .logo {
		float:left!important;
	}

	header.type4 .head_search {
		display:none!important;
	}
	
	.fixed-menu,
	.fixed-menu:before,
	.fixed-menu:after {
		display:none!important;
	}
	.pp_content_container iframe {
		width:100%!important;
		height:150px!important;
	}
	.pp_social {
		display:none!important;
	}
	
	header .socials {
		display:none!important;
	}
	header .call_us {
		float:none!important;
		width:100%!important;
		text-align:center!important;
	}
	header nav { 
		display:none!important;
	}

	.mobile_menu_wrapper {
		display:block;
	}
	.fixed-menu {
		display:none!important
	}	
	
	header,
	.header_wrapper {
		position:relative!important;
		text-align:center!important;
	}
	.main_wrapper {
		margin-top:0!important;
	}
	
	header a.menu_toggler {
		display:block;
		width:40px;
		height:40px;
		background:url(../img/mobile_menu.png) no-repeat center;
		position:absolute;
		top:15px;
		right:0px;
	}

	.mobile_menu {
		position:static;
		width:auto!important;
		position:relative;
		text-align:left;
		display:block!important;
		padding:0px 0 25px 0!important;
	}
	.mobile_menu li,
	.mobile_menu .sub-menu {
	}
	.mobile_menu li:first-child {
		border-top:none;
	}
	.mobile_menu li a {
		font-size:14px;
		line-height:26px;
		font-weight:bold;
		display:block;
		color:#ffffff;
	}
	.mobile_menu li .sub-menu {
		padding-left:30px;
	}
	.mobile_menu li .sub-menu li .sub-menu {
		padding-left:30px!important;
	}
	.mobile_menu li .sub-menu a {
		line-height:24px;
		padding:0!important;
	}
	
	.mobile_menu li a:hover,
	.mobile_menu li:hover > a,
	.mobile_menu li.current-menu-item > a,
	.mobile_menu li.current-menu-parent > a {
		color:#ffffff;
	}
	.mobile_menu li a span { 
		display:none!important;
	}
	
	.mobile_menu li ul.sub-menu {
		display:block!important;
		visibility:visible!important;
		position:static!important;
		width:auto!important;
	}
	.mobile_menu > li {
		width:100%!important;
	}
	
	.pre_footer {
		padding:25px 0px!important;
	}
	footer .socials {
		display:none;
	}
	footer .copyright {
		text-align:center;
		display:block;
		float:none;
		padding:35px 0 30px 0;
	}
	
	.price_table_wrapper .price_item {
		width:100%!important;
		margin-top:20px;
	}
	.price_item .price_item_wrapper {
		padding:0;
	}
	
	.price_table_wrapper .price_item:first-child {
		margin-top:0px;
	}
	
	.right-sidebar-block,
	.left-sidebar-block {
	}
	
	iframe.alignleft,
	iframe.alignright {
		width:100%;
		display:block;
		float:none!important;
		padding:0!important;
		margin-left:0px!important;
		margin-right:0px!important;
	}
	.module_gallery {
		margin-left:0!important;
	}
	.list-of-images {
		margin-left:0px!important;
		margin-top:-15px!important;
	}
	.module_gallery .gallery_item {
		display:block!important;
		margin-left:0px!important;
		float:none!important;
	}
	.module_gallery .gallery_item img {
		width:100%!important;
		height:auto!important;
	}
	
	.list-of-images .gallery_item .gallery_descr,
	.list-of-images .gallery_item .gallery_fadder,
	.list-of-images .gallery_item .post_type_ico {
		display:none!important;	
	}
	.list-of-images .gallery_item img {
		position:static!important;
		display:block!important;
	}
	
	ol.commentlist  li ul {
		padding-left:0px!important;
	}
	.commentava img {
		display:block;
	}
	#commentform #reset,
	#commentform #submit {
		padding:0 10px;
	}
	
	blockquote.right { 
		width:100%!important;
		float:none!important;
		margin-left:0px!important;
	}
	blockquote.left { 
		width:100%!important; 
		margin-right:0px!important;
		float:none!important;
	}		
	
	aside#footer_bar .sidepanel {
		margin-bottom:30px!important;
	}
	aside#footer_bar .bg_title {
		margin-bottom:15px;
	}
	.flickr_widget_wrapper {
		margin-bottom:0px;
	}
	
	.price_item {
		border-top:none!important;
		border-bottom:none!important;
	}
	
	.shortcode_promoblock .promo_text_block h1,
	.shortcode_promoblock .promo_text_block h5 {
		text-align:center!important;
		padding:0px 0 10px 0!important;
	}
	
	.blog_info_block {
		padding-right:0!important;
	}
	.portfolio_page .blogpost_share {
		position:static!important;
		display:block!important;
		float:none!important;
	}
	.portfolio_page .blogpost_share a {
		margin-left:0px!important;
		margin-right:5px!important;
	}
	
	.shortcode_tab_item_title {
		background:#f5f5f5;
		display:block;
		float:none;
	}
	.shortcode_tab_item_title.active:before {
		background:#ffffff;
	}
	.shortcode_tab_item_title.active:before {
		display:none;
	}

	header section.tag_type3 .slogan {
		display:none;	
	}
	header section.tag_type3 .call_us {
		float:none;
		text-align:center;
		display:block;	
	}

	header section.tag_type4 .slogan {
		float:none;
		text-align:center;
		display:block;	
	}
	header section.tag_type4 .call_us {
		display:none;	
	}
	header .socials_list  {
		display:none!important;
	}	

	.filter_block {
		padding-bottom:3px;
	}
	.blog_post-meta {
		padding-top:5px;
	}
	
	.columns1 .element {
		padding-bottom:10px;
		border-bottom:#d7dee4 1px solid;
	}
	.columns1 .element:last-child {
		padding-bottom:0px;
		border-bottom:none;
	}

	.left-sidebar-block,
	.right-sidebar-block {
		padding-top:20px;
		/*border-top:#d7dee4 1px solid;*/
	}
	
	.module_normal_padding,
	.module_cont {
		margin-top: 30px !important;
	}
	
	.module_medium_padding {
		margin-top: 30px !important;
	}
	
	.module_small_padding {
		margin-top: 30px !important;
	}
	.module_line.top_padding_normal {
		padding-top: 30px !important;
	}

		
	.module_blog .blog_post_preview {
		text-align:left;
	}
	.pagerblock {
		padding-left:0px!important;
		padding-bottom:0px!important;
		display:inline-block;
		margin:0 auto;
	}

	.comment_info span:after {
		display:none!important;
	}
	.comment_info span {
		display:block!important;
	}
	.stand_comment {
		margin-bottom:0px;
	}
	ol.commentlist {
		padding-bottom:0px!important;
	}
	#comments {
		margin-bottom:30px;
	}

	.fullscreen_block .video_background {
		bottom:0px!important;
		top:auto!important;
	}	

	.module_gallery_wall .list-of-images,
	.module_gallery_wall .list-of-images .gallery_item {
		margin:0!important;
	}		
	.module_gallery_wall .list-of-images .gallery_item {
		width:50%!important;
		max-width:50%!important;
	}
	.module_gallery_wall .gallery_item img {
		width:100%;
		height:auto;
	}	
	.gallery_item .ico_gallery {
		display:none;
	}
	.list-of-images,
	.list-of-images .gallery_item:first-child {
		margin:0px!important;
	}

	.fs_grid_module .grid_gallery-item {
		width:50%!important;
	}
	.fullscreen_block .image-grid .element {
		width:49.99%!important;;
	}	
	.fullscreen_block .filter_block {
		bottom:0px!important;
	}
	.fs_blog_module .blog_item {
		width:100%;
		display:inline-block;
		float:left;
	}

	.fullscreen_title {
		top:auto;
		bottom:0;
		z-index:99;
		display:block;
		width:100%;
	}	
	.content_toggle {
		display:none!important;
	}
	.fullscreen_content:before,
	.fullscreen_content:after {
		display:none;
	}	
	.fullscreen_content {
		width:100%!important;
		position:static;
	}
	.fullscreen_content  {
		padding-top:30px!important;
	}
	.featured_slider_wrapper {
		display:block!important;
		position:relative!important;
		left:0px!important;
	}
	.fullscreen_content_wrapper.fsw_iphone {
		position:static!important;
		padding-left:10px;
		padding-right:10px;
		background:#ffffff;
		width:auto!important;
		display:block!important;
	}
	.module_contact_icons {
		overflow:hidden;
	}
	.fs_grid_module .gallery_descr {
		display:none;
	}
	.fs_grid_module .item_hover {
		margin-top:0px!important;
	}
	.fs_grid_module .item_hover-body {
		display:none!important;
	}

	.header2top .fullscreen_block,
	.fullscreen_layout .fullscreen_block {
		padding-bottom:0px;
	}
	.fs_blog_module:before,
	.fs_grid_module:before {
		margin-top:0px;
	}
	.commentava,
	.commentava img {
		width:44px;
		height:44px;
		display:block;
	}
	ol.commentlist li .stand_comment {
		padding-left:60px;
	}
	.module_gallery_wall {
		margin-top:0px!important;
	}
	footer {
		padding:25px 0;
	}
	footer .copyright {
		padding:0;
	}
	
	.fullscreen_title h1 {
		padding:12px 55px 14px 15px;
		font-size:24px;
		line-height:28px;
	}
	.fullscreen_title .btn_close {
		right:8px;
		top:7px;
	}
	.featured_prev,
	.featured_next {
		position:absolute!important;
	}
	.featured_prev {
		left:25px!important;
	}
	.featured_next {
		right:15px!important;
	}

	.fullscreen_content_wrapper.fsw_iphone img {
		height:auto!important;
	}		
	.fullscreen_content {
		padding-top:0!important;
	}
	.iphone_map {
		position:static!important;
		height:auto!important;
	}
	.fs_map {
		position:static!important;
		left:0px!important;
		top:0px!important;
		height:200px!important;
	}

	.fs_grid_module .grid_gallery-item .item_hover-img a.prettyPhoto,
	.fs_grid_module .grid_gallery-item .item_hover-img a.post_link {	
		-ms-transform: scale(0.75);
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}
	.fs_grid_module .grid_gallery-item .item_hover-img a.prettyPhoto {
		margin-left:-60px!important;
	}
	.fs_grid_module .grid_gallery-item .item_hover-img a.post_link {
		margin-left:0px!important;
	}
	
	.fullscreen_content .module_cont {
		margin-top:20px!important;
	}
	.promo_text_block h3,
	.promo_text_block h6 {
		text-align:center!important;
	}
	.shortcode_promoblock  {
		padding:0px;
	}

	.header2top .fullscreen_block .filter_block {
		position:static!important;
	}	
	.header2top .image-grid.fs_grid_module,
	.header2top .fs_grid_module:before {
		margin: 0!important;
	}	
	.fs_blog_module {
		margin:0;
	}
	.fs_blog_module .blog_item-padding {
		padding-right:10px!important;
	}
}

@media only screen and (min-width: 459px) and (max-width: 760px) {
	.featured_slider ul li .carousel_desc:after {
		display:block!important;
	}
	.container {
		width:420px;
		margin:0 auto;
	}
	.logo {
		max-width:400px!important;
	}
	.logo img {
		max-width:400px!important;
		display:block!important;
	}
	.main_wrapper,
	.pre_footer {
		width:100%!important;
		margin:0 auto;
	}
	.mobile_menu {
		width:420px!important;
		margin:0 auto;
	}
	
	.content_wrapper {
		margin:0 auto;
	}

	.widget_flickr .flickr_badge_image, .widget_flickr .flickr_badge_image a {
		width:136px!important;
		height:136px!important;
	}
	.widget_flickr .flickr_badge_image img,
	.widget_flickr .flickr_badge_image .flickr_wrapper,
	.widget_flickr .flickr_badge_image .wrapped_img { 	
		width:136px!important;
		height:136px!important;
	}

	.portfolio_descr_info div:before {
		display:block!important;
	}
	.portfolio_descr_info div {
		display:block!important;
		float:none!important;
	}
	.portfolio_info_wrapper {
		/*padding-left:16px!important;*/
	}
	.portfolio_info_wrapper .post_type {
		display:block!important;
	}
	
	.list-of-images .gallery_item {
		margin:20px 0 0 0px!important;
		float:left;
	}

	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.list-of-images.images_in_a_row_2 .gallery_item,
	.list-of-images.images_in_a_row_2 .gallery_item img,
	.list-of-images.images_in_a_row_3 .gallery_item,
	.list-of-images.images_in_a_row_3 .gallery_item img,
	.list-of-images.images_in_a_row_4 .gallery_item,
	.list-of-images.images_in_a_row_4 .gallery_item img {
		width:420px!important;
		height:auto
	}	

	.featured_image_full iframe {
		height:240px!important;
	}

	.module_video iframe {
		height:240px!important;
	}

	.shortcode_tab_item_title {
		width:388px;
	}

	.blogpost_type-block {
		right:0px;
		left:auto;
		width:51px;
	}
	.blogpost_type-block hr {
		display:none;
	}
	.blogpost_date-block {
		text-align:left;
		padding-right:66px;
	}
	.blogpost-block {
		border-top:#D7DEE4 1px solid;
		padding-top:10px;
	}
	.blogpost-block hr {
		width:420px!important;
		margin-left:0!important;
	}	

	.module_google_map iframe {
		height:240px!important;
	}	

	.contentarea {
		margin-top:0px;
	}
	
}

@media only screen and (max-width: 459px) {

	.container {
		width:300px!important;
	}
	.widget_flickr .flickr_badge_image, .widget_flickr .flickr_badge_image a {
		width:96px!important;
		height:96px!important;
	}
	.widget_flickr .flickr_badge_image img,
	.widget_flickr .flickr_badge_image .flickr_wrapper,
	.widget_flickr .flickr_badge_image .wrapped_img { 	
		width:96px!important;
		height:96px!important;
	}	

	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.list-of-images.images_in_a_row_2 .gallery_item,
	.list-of-images.images_in_a_row_2 .gallery_item img,
	.list-of-images.images_in_a_row_3 .gallery_item,
	.list-of-images.images_in_a_row_3 .gallery_item img,
	.list-of-images.images_in_a_row_4 .gallery_item,
	.list-of-images.images_in_a_row_4 .gallery_item img {
		width:300px!important;
		height:auto
	}	

	.featured_image_full iframe {
		height:125px;
	}
	.blogpost_type-block {
		right:0px;
		left:auto;
		width:51px;
	}
	.blogpost_type-block hr {
		display:none;
	}
	.blogpost_date-block {
		text-align:left;
		padding-right:66px;
	}
	.blogpost-block {
		border-top:#D7DEE4 1px solid;
		padding-top:10px;
	}
	.blogpost-block hr {
		width:300px!important;
		margin-left:0!important;
	}

	.mobile_menu {
		width:280px!important;
		padding:0 10px;
		margin:0 auto;
	}
	
	.module_video iframe {
		height:170px;
	}	
	.module_video.size2 iframe {
		height:170px;
	}	

	.shortcode_tab_item_title {
		width:268px;
	}	

	.feedback_reset,
	.feedback_go {
		margin-bottom:3px;
	}
	.module_google_map iframe {
		height: 180px !important;
	}

	div.contentarea {
		margin-top:-15px;
	}	

	.fullscreen_layout header .logo, 
	.header2top header .logo {
		margin-left:10px!important;
	}

}

/*portfolio_isotope.css*/
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.columns1 {
		width:940px!important;
		margin:0;
	}
	.columns1 .element {
		min-height:322px!important;
	}
	/*Widths*/
	.columns2 .portfolio_dscr,
	.columns3 .portfolio_dscr,
	.columns4 .portfolio_dscr {
		padding-left:16px!important;
	}
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 4px;
		width:960px;
		margin-left:-20px!important;
	}
	.columns2 .element {
		width:460px!important; 
		min-height:303px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns2 .element img {
		display:block;
	}
	.columns3 .element {
		width:300px!important; 
		margin-left:20px;
		margin-bottom:20px;
		min-height:199px!important;
	}
	.columns4 .element {
		width:220px!important; 
		margin-left:20px;
		margin-bottom:20px;
		min-height:147px!important;
	}	
	
	.columns1 .portfolio_preview_head {
		padding-left:16px!important;
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1 {
		width:700px!important;
	}
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:720px!important;
	}
	
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element {
		width:340px!important;
	} 
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element {
		width:220px!important;
	}
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:160px!important;
	}	
}


@media only screen and (min-width: 767px) and (max-width: 959px) {
	.columns1 {
		width:724px!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}
	.columns1 .portfolio_preview_head {
		padding-left:16px!important;
	}
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 4px;
		width:744px;
		margin-left:-20px!important;
	}
	.columns2 .element {
		width:352px!important; 
		min-height:233px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns2 .element img {
		display:block;
	}	
	.columns3 .element {
		width:228px!important; 
		min-height:153px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns4 .element {
		width:166px!important; 
		min-height:112px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1 {
		width:538px!important;
	}
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:558px!important;
	}
	
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element {
		width:259px!important;
	} 
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element {
		width:166px!important;
	}
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:119px!important;
	}	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	/*Widths*/
	.columns1,
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 0px!important;
		width:420px!important;
	}
	.columns2 .element,
	.columns3 .element,
	.columns4 .element {
		width:420px!important; 
		margin:0 0 20px 0px!important;
		min-height:277px!important;
		/*float:none!important;*/
		display:inline-block!important;
	}
	.columns1 .element img,
	.columns2 .element img,
	.columns3 .element img,
	.columns4 .element img {
		display:block!important;
	}
	.filter_navigation { 
		overflow:hidden!important;
	}
	.columns1 .filter_img {
		float:none!important;
		width:420px!important;
		margin-bottom:15px!important;
	}
	.columns1 .portfolio_dscr {
		float:none!important;
		width:420px!important;
		margin:0px!important;
	}
	.columns2 .element .portfolio_content p,
	.columns3 .element .portfolio_content p,
	.columns4 .element .portfolio_content p,
	.columns2 .element .portfolio_content h5,
	.columns3 .element .portfolio_content h5,
	.columns4 .element .portfolio_content h5 {	
		display:none!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1,
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:420px!important;	
	}
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element,
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element,
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:420px!important;
	}		
	.pf_video_container iframe {
		height:220px!important;
	}

	.promo_text_block h1,
	.promo_text_block h4,
	.promo_button_block {
		text-align:center!important;
	}
	.promo_button_block .shortcode_button {
		margin:0 auto!important;
		float:none!important;
	}	
}
@media only screen and (max-width: 459px) {
	/*Widths*/
	.columns1,
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 0px!important;
		width:300px!important;
	}
	.columns1 .element { 
		margin:0 0 20px 0!important;
	}
	.columns1 .element,
	.columns2 .element,
	.columns3 .element,
	.columns4 .element {
		width:300px!important;
		margin:0 0 20px 0px!important;
		min-height:199px!important;
		float:none!important;
		display:block!important;
	}
	.columns1 .element img,
	.columns2 .element img,
	.columns3 .element img,
	.columns4 .element img {
		display:block;
	}
	.columns2 .element .portfolio_content p,
	.columns3 .element .portfolio_content p,
	.columns4 .element .portfolio_content p,
	.columns2 .element .portfolio_content h5,
	.columns3 .element .portfolio_content h5,
	.columns4 .element .portfolio_content h5 {	
		display:none!important;
	}
	.filter_navigation { 
		overflow:hidden
	}	
	.columns1 .filter_img {
		float:none!important;
		width:300px!important;
		margin-bottom:15px!important;
	}
	.columns1 .portfolio_dscr {
		float:none!important;
		width:300px!important;
		margin:0px!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1,
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:300px!important;	
	}
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element,
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element,
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:300px!important;
	}	

	.pf_video_container iframe {
		height:160px!important;
	}
	
	.promo_text_block h1,
	.promo_text_block h4,
	.promo_button_block {
		text-align:center!important;
	}
	.promo_button_block .shortcode_button {
		margin:0 auto!important;
		float:none!important;
	}	
	
	header ul.sub-menu li ul.sub-menu {
		margin:0!important;
		padding:0!important;
	}
}

/*-- Carousel --*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	.span12 .carouselslider {
		width:940px;
	}
	.span6 .carouselslider {
		width:458px;
	}
	.span4 .carouselslider {
		width:298px;
	}
	.span3 .carouselslider {
		width:220px;
	}
	.span8 .carouselslider {
		width:618px;
	}
	.span9 .carouselslider {
		width:700px;
	}
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider {
		width:700px;
	}
	.left-sidebar .posts-block .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider {
		width:341px;
	}
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider {
		width:221px;
	}
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider {
		width:161px;
	}
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider {
		width:460px;
	}
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider {
		width:520px;
	}
	
	.span12 .items5 li { 
		width:172px;
	}
	.span12 .items4 li { 
		width:220px;
	}
	.span12 .items3 li { 
		width:300px;
	}
	.span12 .items2 li { 
		width:460px;
	}
	.span12 .items1 li { 
		width:940px;
	}
	
	.span6 .items5 li { 
		width:75px;
	}
	.span6 .items4 li { 
		width:99px;
	}
	.span6 .items3 li { 
		width:139px;
	}
	.span6 .items2 li { 
		width:219px;
	}
	.span6 .items1 li { 
		width:458px;
	}
	
	.span4 .items5 li { 
		width:43px;
	}
	.span4 .items4 li { 
		width:59px;
	}
	.span4 .items3 li { 
		width:86px;
	}
	.span4 .items2 li { 
		width:139px;
	}
	.span4 .items1 li { 
		width:298px;
	}
	
	.span3 .items5 li { 
		width:28px;
	}
	.span3 .items4 li { 
		width:40px;
	}
	.span3 .items3 li { 
		width:60px;
	}
	.span3 .items2 li { 
		width:100px;
	}
	.span3 .items1 li { 
		width:220px;
	}
	
	.span8 .items5 li { 
		width:107px;
	}
	.span8 .items4 li { 
		width:139px;
	}
	.span8 .items3 li { 
		width:192px;
	}
	.span8 .items2 li { 
		width:299px;
	}
	.span8 .items1 li { 
		width:618px;
	}
	
	.span9 .items5 li { 
		width:124px;
	}
	.span9 .items4 li { 
		width:160px;
	}
	.span9 .items3 li { 
		width:220px;
	}
	.span9 .items2 li { 
		width:340px;
	}
	.span9 .items1 li { 
		width:700px;
	}
	
	/* items size with sidebar*/
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li { 
		width:124px;
	}
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li { 
		width:220px;
	}
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li { 
		width:340px;
	}
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li { 
		width:700px;
	}
	
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li { 
		width:52px;
	}
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li { 
		width:70px;
	}
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li { 
		width:341px;
	}
	
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li { 
		width:28px;
	}
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li { 
		width:40px;
	}
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li { 
		width:60px;
	}
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li { 
		width:221px;
	}
	
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li { 
		width:16px;
	}
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li { 
		width:25px;
	}
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li { 
		width:40px;
	}
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li { 
		width:70px;
	}
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li { 
		width:161px;
	}
	
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li { 
		width:76px;
	}
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li { 
		width:140px;
	}
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li { 
		width:220px;
	}
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li { 
		width:460px;
	}
	
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li { 
		width:88px;
	}
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li { 
		width:115px;
	}
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li { 
		width:250px;
	}
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:520px;
	}	
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
	
	.span12 .carouselslider {
		width:724px!important;
	}
	.span6 .carouselslider {
		width:352px!important;
	}
	.span4 .carouselslider {
		width:228px!important;
	}
	.span3 .carouselslider {
		width:166px!important;
	}
	.span8 .carouselslider {
		width:476px!important;
	}
	.span9 .carouselslider {
		width:538px!important;
	}
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider {
		width:538px!important;
	}
	.left-sidebar .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider {
		width:424px!important;
	}
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider {
		width:169px!important;
	}
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider {
		width:123px!important;
	}
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider {
		width:354px!important;
	}
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider {
		width:400px!important;
	}
	
	.span12 .items6 li { 
		width:104px!important;
	}
	.span12 .items5 li { 
		width:128px!important;
	}
	.span12 .items4 li { 
		width:166px!important;
	}
	.span12 .items3 li { 
		width:228px!important;
	}
	.span12 .items2 li { 
		width:352px!important;
	}
	.span12 .items1 li { 
		width:724px!important;
	}
	
	.span6 .items6 li { 
		width:42px!important;
	}
	.span6 .items5 li { 
		width:54px!important;
	}
	.span6 .items4 li { 
		width:73px!important;
	}
	.span6 .items3 li { 
		width:104px!important;
	}
	.span6 .items2 li { 
		width:166px!important;
	}
	.span6 .items1 li { 
		width:352px!important;
	}

	.span4 .items6 li { 
		width:21px!important;
	}	
	.span4 .items5 li { 
		width:29px!important;
	}
	.span4 .items4 li { 
		width:42px!important;
	}
	.span4 .items3 li { 
		width:62px!important;
	}
	.span4 .items2 li { 
		width:104px!important;
	}
	.span4 .items1 li { 
		width:228px!important;
	}

	.span3 .items6 li { 
		width:11px!important;
	}	
	.span3 .items5 li { 
		width:17px!important;
	}
	.span3 .items4 li { 
		width:26px!important;
	}
	.span3 .items3 li { 
		width:42px!important;
	}
	.span3 .items2 li { 
		width:73px!important;
	}
	.span3 .items1 li { 
		width:166px!important;
	}

	.span8 .items6 li { 
		width:62px!important;
	}	
	.span8 .items5 li { 
		width:79px!important;
	}
	.span8 .items4 li { 
		width:104px!important;
	}
	.span8 .items3 li { 
		width:145px!important;
	}
	.span8 .items2 li { 
		width:228px!important;
	}
	.span8 .items1 li { 
		width:476px!important;
	}
	
	.span9 .items6 li { 
		width:73px!important;
	}	
	.span9 .items5 li { 
		width:91px!important;
	}
	.span9 .items4 li { 
		width:119px!important;
	}
	.span9 .items3 li { 
		width:166px!important;
	}
	.span9 .items2 li { 
		width:259px!important;
	}
	.span9 .items1 li { 
		width:538px!important;
	}
	
	/* items size with sidebar*/
	.left-sidebar .posts-block .span12 .items6 li,
	.right-sidebar .posts-block .span12 .items6 li { 
		width:78px!important;
	}
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li { 
		width:96px!important;
	}
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li { 
		width:124px!important;
	}
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li { 
		width:170px!important;
	}
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li { 
		width:262px!important;
	}
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li { 
		width:538px!important;
	}
	
	.left-sidebar .posts-block .span6 .items6 li,
	.right-sidebar .posts-block .span6 .items6 li { 
		width:59px!important;
	}
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li { 
		width:73px!important;
	}
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li { 
		width:95px!important;
	}
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li { 
		width:132px!important;
	}
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li { 
		width:205px!important;
	}
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li { 
		width:424px!important;
	}
	
	.left-sidebar .posts-block .span4 .items6 li,
	.right-sidebar .posts-block .span4 .items6 li { 
		width:16px!important;
	}
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li { 
		width:22px!important;
	}
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li { 
		width:31px!important;
	}
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li { 
		width:47px!important;
	}
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li { 
		width:77px!important;
	}
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li { 
		width:169px!important;
	}
	
	.left-sidebar .posts-block .span3 .items6 li,
	.right-sidebar .posts-block .span3 .items6 li { 
		width:8px!important;
	}
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li { 
		width:13px!important;
	}
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li { 
		width:20px!important;
	}
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li { 
		width:31px!important;
	}
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li { 
		width:54px!important;
	}
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li { 
		width:123px!important;
	}	
	
	.left-sidebar .posts-block .span8 .items6 li,
	.right-sidebar .posts-block .span8 .items6 li { 
		width:47px!important;
	}
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li { 
		width:59px!important;
	}
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li { 
		width:78px!important;
	}
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li { 
		width:108px!important;
	}
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li { 
		width:170px!important;
	}
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li { 
		width:354px!important;
	}
	
	.left-sidebar .posts-block .span9 .items6 li,
	.right-sidebar .posts-block .span9 .items6 li { 
		width:55px!important;
	}
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li { 
		width:68px!important;
	}
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li { 
		width:89px!important;
	}
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li { 
		width:124px!important;
	}
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li { 
		width:193px!important;
	}
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:400px!important;
	}	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	
	.span12 .carouselslider,
	.span6 .carouselslider,
	.span4 .carouselslider,
	.span3 .carouselslider,
	.span8 .carouselslider,
	.span9 .carouselslider,
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider,
	.left-sidebar .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider,
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider,
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider,
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider,
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider,
	.span12 .items6 li,
	.span12 .items5 li,
	.span12 .items4 li,
	.span12 .items3 li,
	.span12 .items2 li,
	.span12 .items1 li,	
	.span6 .items6 li,
	.span6 .items5 li,
	.span6 .items4 li,
	.span6 .items3 li,
	.span6 .items2 li,
	.span6 .items1 li,
	.span4 .items6 li,
	.span4 .items5 li,
	.span4 .items4 li,
	.span4 .items3 li,
	.span4 .items2 li,
	.span4 .items1 li,
	.span4 .items6 li,	
	.span4 .items5 li,
	.span3 .items4 li,
	.span3 .items3 li,
	.span3 .items2 li,
	.span3 .items1 li,	
	.span8 .items6 li,
	.span8 .items5 li,
	.span8 .items4 li,
	.span8 .items3 li,
	.span8 .items2 li,
	.span8 .items1 li,
	.span8 .items6 li,	
	.span9 .items5 li,
	.span9 .items4 li,
	.span9 .items3 li,
	.span9 .items2 li,
	.span9 .items1 li,
	.left-sidebar .posts-block .span12 .items6 li,
	.right-sidebar .posts-block .span12 .items6 li,
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li,
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li,
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li,
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li,
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li,	
	.left-sidebar .posts-block .span6 .items6 li,
	.right-sidebar .posts-block .span6 .items6 li,
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li,
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li,
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li,
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li,
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li,	
	.left-sidebar .posts-block .span4 .items6 li,
	.right-sidebar .posts-block .span4 .items6 li,
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li,
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li,
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li,
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li,
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li,	
	.left-sidebar .posts-block .span3 .items6 li,
	.right-sidebar .posts-block .span3 .items6 li,
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li,
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li,
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li,
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li,
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li,	
	.left-sidebar .posts-block .span8 .items6 li,
	.right-sidebar .posts-block .span8 .items6 li,
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li,
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li,
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li,
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li,
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li,	
	.left-sidebar .posts-block .span9 .items6 li,
	.right-sidebar .posts-block .span9 .items6 li,
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li,
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li,
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li,
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li,
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:420px!important;
	}		
}
@media only screen and (max-width: 459px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	
	.span12 .carouselslider,
	.span6 .carouselslider,
	.span4 .carouselslider,
	.span3 .carouselslider,
	.span8 .carouselslider,
	.span9 .carouselslider,
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider,
	.left-sidebar .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider,
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider,
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider,
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider,
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider,
	.span12 .items6 li,
	.span12 .items5 li,
	.span12 .items4 li,
	.span12 .items3 li,
	.span12 .items2 li,
	.span12 .items1 li,	
	.span6 .items6 li,
	.span6 .items5 li,
	.span6 .items4 li,
	.span6 .items3 li,
	.span6 .items2 li,
	.span6 .items1 li,
	.span4 .items6 li,
	.span4 .items5 li,
	.span4 .items4 li,
	.span4 .items3 li,
	.span4 .items2 li,
	.span4 .items1 li,
	.span4 .items6 li,	
	.span4 .items5 li,
	.span3 .items4 li,
	.span3 .items3 li,
	.span3 .items2 li,
	.span3 .items1 li,	
	.span8 .items6 li,
	.span8 .items5 li,
	.span8 .items4 li,
	.span8 .items3 li,
	.span8 .items2 li,
	.span8 .items1 li,
	.span8 .items6 li,	
	.span9 .items5 li,
	.span9 .items4 li,
	.span9 .items3 li,
	.span9 .items2 li,
	.span9 .items1 li,
	.left-sidebar .posts-block .span12 .items6 li,
	.right-sidebar .posts-block .span12 .items6 li,
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li,
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li,
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li,
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li,
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li,	
	.left-sidebar .posts-block .span6 .items6 li,
	.right-sidebar .posts-block .span6 .items6 li,
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li,
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li,
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li,
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li,
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li,	
	.left-sidebar .posts-block .span4 .items6 li,
	.right-sidebar .posts-block .span4 .items6 li,
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li,
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li,
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li,
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li,
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li,	
	.left-sidebar .posts-block .span3 .items6 li,
	.right-sidebar .posts-block .span3 .items6 li,
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li,
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li,
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li,
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li,
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li,	
	.left-sidebar .posts-block .span8 .items6 li,
	.right-sidebar .posts-block .span8 .items6 li,
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li,
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li,
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li,
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li,
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li,	
	.left-sidebar .posts-block .span9 .items6 li,
	.right-sidebar .posts-block .span9 .items6 li,
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li,
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li,
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li,
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li,
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:300px!important;
	}	
}

@media only screen and (min-width: 761px) {
	header .mobile_menu_wrapper {
		display:none!important;
	}
}

/*-- Carousel --*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}	

	.left-sidebar .margin-fixer,
	.right-sidebar .margin-fixer {
		margin-left:-14px!important;
	}
	.left-sidebar .carouselslider ul li,
	.right-sidebar .carouselslider ul li {
		padding:0 0 0 14px!important;
	}	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
}
@media only screen and (max-width: 459px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
}



/*RETINA*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	header .logo img.logo_def {
		display:none!important;
	}
	header .logo img.logo_retina {
		display:block!important;
	}

	.module_gallery_wall {
		background-size:50px 50px!important;
		background:#4f4d57 url(../img/retina/preloader.gif) no-repeat center;
	}
	.fs_grid_module:before {
		background-size:50px 50px!important;
		background:url(../img/retina/preloader.gif) no-repeat center;
	}
	.fs_blog_module:before {
		background-size:50px 50px!important;
		background:url(../img/retina/preloader.gif) no-repeat center;
	}


	header a.menu_toggler {
		background:url(../img/retina/mobile_menu.png) no-repeat center;
		background-size:29px 29px;
	}

	.fullscreen_title .btn_next {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat 0 -80px;
	}
	.fullscreen_title .btn_prev {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat 0 -120px;
	}
	.fullscreen_title .btn_close {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -160px 0;
	}
	.featured_slider_wrapper a.featured_prev {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -200px 0;
	}
	.featured_slider_wrapper a.featured_next {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -260px 0;
	}
	.btn_back:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -61px -1px;
	}
	ul.sitemap_list li:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat 0 -41px;
	}
	.contentarea ul.list_type1 li:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat 0 -41px;
	}
	.contentarea ul.list_type2 li:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -13px -41px;
	}
	.contentarea ul.list_type3 li:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -26px -41px;
	}
	.contentarea ul.list_type4 li:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -39px -41px;
	}
	.contentarea ul.list_type5 li:before {
		background-size:320px 62px!important;
		background:url(../img/retina/frame_buttons.png) no-repeat -52px -41px;
		
	}
	.contentarea ul.list_type6 li:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -65px -41px;
	}

	.widget_nav_menu ul li a:before,
	.widget_archive ul li a:before,
	.widget_pages ul li a:before,
	.widget_categories ul li a:before,
	.widget_recent_entries ul li a:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -20px 0;
	}
	blockquote:before {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -80px -40px #46434e;
	}
	
	.carousel-previous {
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -41px -21px;
	}
	.carousel-next { 
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat -41px -1px;
	}

	.shortcode_accordion_item_title .ico, 
	.shortcode_toggles_item_title .ico { 
		background-size:320px 62px!important;	
		background:url(../img/retina/frame_buttons.png) no-repeat 0 0;
	}

	.shortcode_accordion_item_title.ui-state-active .ico, 
	.shortcode_toggles_item_title.ui-state-active .ico { 
		background-size:320px 62px!important;
		background:url(../img/retina/frame_buttons.png) no-repeat 0 -20px;
	}

	.shortcode_messagebox .box_close {
		background-size:320px 62px!important;
		background:url(../img/retina/frame_buttons.png) -61px -21px;
	}
	
	/* *** *** *** */	

	.socials_list li a.ico_social-delicious {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -520px -0px;
	}
	.socials_list li a.ico_social-dribbble {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -560px -0px;
	}
	.socials_list li a.ico_social-facebook {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -0px -40px;
	}
	.socials_list li a.ico_social-flickr {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -40px -40px;
	}
	.socials_list li a.ico_social-gplus {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -80px -40px;
	}
	.socials_list li a.ico_social-instagram {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -120px -40px;
	}
	.socials_list li a.ico_social-linked {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -160px -40px;
	}
	.socials_list li a.ico_social-pinterest {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -200px -40px;
	}
	.socials_list li a.ico_social-tumblr {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -240px -40px;
	}
	.socials_list li a.ico_social-twitter {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -280px -40px;
	}
	.socials_list li a.ico_social-vimeo {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -320px -40px;
	}
	.socials_list li a.ico_social-youtube {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -360px -40px;
	}
	
	.blogpost_type_ico.post_type_aside {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat 0 0;
	}
	.blogpost_type_ico.post_type_audio {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -40px 0;
	}
	.blogpost_type_ico.post_type_chat {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -80px 0;
	}
	.blogpost_type_ico.post_type_gallery {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -120px 0;
	}
	.blogpost_type_ico.post_type_image {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -160px 0;
	}
	.blogpost_type_ico.post_type_link {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -200px 0;
	}
	.blogpost_type_ico.post_type_quote {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -240px 0;
	}
	.blogpost_type_ico.post_type_text {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -280px 0;
	}
	.blogpost_type_ico.post_type_video {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) no-repeat -320px 0;
	}
	
	.carouselslider ul li .smallproflinks a.facebook_link { 
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -600px -0px;
	}	
	.carouselslider ul li .smallproflinks a.twitter_link { 
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -600px -240px;
	}	
	.carouselslider ul li .smallproflinks a.tumbler_link { 
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -600px -200px;
	}	
	.carouselslider ul li .smallproflinks a.linkedin_link { 
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -600px -120px;
	}	
	.carouselslider ul li .smallproflinks a.member_email { 
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -600px -160px;
	}	
	.carouselslider ul li .smallproflinks a.flickr_link { 
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -600px -80px;
	}	
	
	.post_type_ico .post_type_gallery {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -360px 0;
	}
	.post_type_ico .post_type_image {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -400px 0;
	}
	.post_type_ico .post_type_video {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -440px 0;
	}

	.ico_socialize_facebook1 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -360px -80px;
	}
	.ico_socialize_facebook2 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -400px -80px;
	}
	.ico_socialize_twitter1 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -40px -200px;
	}
	.ico_socialize_twitter2 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -80px -200px;
	}
	.ico_socialize_twitter3 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -120px -200px;
	}
	.ico_socialize_digg1 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -40px -80px;
	}
	.ico_socialize_digg2 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -80px -80px;
	}
	.ico_socialize_google1 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -0px -120px;
	}
	.ico_socialize_google2 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -40px -120px;
	}
	.ico_socialize_tumbler {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -0px -200px;
	}
	.ico_socialize_delicious {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -560px -40px;
	}
	.ico_socialize_plixi {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -200px -160px;
	}
	.ico_socialize_dribbble1 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -160px -80px;
	}
	.ico_socialize_dribbble2 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -200px -80px;
	}
	.ico_socialize_stubleUpon {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -400px -160px;
	}
	.ico_socialize_lastfm {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -240px -120px;
	}
	.ico_socialize_moby {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -400px -120px;
	}
	.ico_socialize_vimeo {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -200px -200px;
	}
	.ico_socialize_youtube1 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -400px -200px;
	}
	.ico_socialize_youtube2 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -440px -200px;
	}
	.ico_socialize_myspace {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -440px -120px;
	}
	.ico_socialize_linkedIn {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -280px -120px;
	}
	.ico_socialize_pinterest {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -160px -160px;
	}
	.ico_socialize_flickr {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -480px -80px;
	}
	.ico_socialize_vk1 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -240px -200px;
	}
	.ico_socialize_vk2 {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -280px -200px;
	}
	.ico_socialize_odnoklassniki {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -0px -160px;
	}
	.ico_socialize_gowalla {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -80px -120px;
	}
	.ico_socialize_dropbox {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -240px -80px;
	}
	.ico_socialize_skype {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -360px -160px;
	}
	.ico_socialize_iChat {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -160px -120px;
	}
	.ico_socialize_instagram {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -200px -120px;
	}
	.ico_socialize_evernote {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -320px -80px;
	}
	.ico_socialize_deviantart {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -0px -80px;
	}
	.ico_socialize_blogspot {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -520px -40px;
	}
	.ico_socialize_reddit {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -240px -160px;
	}
	.ico_socialize_technorati {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -440px -160px;
	}
	.ico_socialize_yahoo {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -360px -200px;
	}
	.ico_socialize_diigo {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -120px -80px;
	}
	.ico_socialize_blinklist {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -480px -40px;
	}
	.ico_socialize_bing {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -440px -40px;
	}
	.ico_socialize_behnce {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -400px -40px;
	}
	.ico_socialize_picasa {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -120px -160px;
	}
	.ico_socialize_forrst {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -520px -80px;
	}
	.ico_socialize_ffffound {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -440px -80px;
	}
	.ico_socialize_viddler {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -160px -200px;
	}
	.ico_socialize_friendfeed {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -560px -80px;
	}
	.ico_socialize_mobileMe {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -360px -120px;
	}
	.ico_socialize_wordpress {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -320px -200px;
	}
	.ico_socialize_drupal {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -280px -80px;
	}
	.ico_socialize_paypal {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -40px -160px;
	}
	.ico_socialize_share {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -320px -160px;
	}
	.ico_socialize_mail {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -320px -120px;
	}
	.ico_socialize_rss {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -280px -160px;
	}
	.ico_socialize_home {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -120px -120px;
	}
	.ico_socialize_phone {
		background-size:640px 240px!important;
		background:url(../img/retina/frame_icons.png) -80px -160px;
	}

}

@media only screen and (max-width: 760px) {
	.tp-leftarrow {
		background-image:url(../img/retina/slider_prev.png)!important;
		background-size:25px 27px;
		width:25px;
		height:27px;
		margin-top:-13px!important;
	}
	.tp-rightarrow {
		background-image:url(../img/retina/slider_next.png)!important;
		background-size:25px 27px;
		width:25px;
		height:27px;
		margin-top:-13px!important;
	}	
}

@media only screen and (max-width: 1500px) {
	header nav ul.menu > li > .sub-menu > li > .sub-menu {
		top:0;
		left:-183px;
		padding-left:0px;
		padding-right:3px;
		width:180px;
	}
}
