{% extends "_base.html" %}

{% load static %}
{% load thumbnail %}
{% load email_obfuscator %}

{% block additional_headers %}
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
{% endblock %}

{% block page_title %} | About{% endblock %}

{% block page_description %}Photos from pixelfield's trips.{% endblock %}

{% block page_keywords %}Photography, Photo, Photos, Nikon, Fujifilm{% endblock %}

{% block content %}

    <div class="main_wrapper">
        <!-- C O N T E N T -->
        <div class="content_wrapper">
        	<div class="page_title_block">
            	<div class="container">
                    <h1 class="title">About</h1>
                    <div class="breadcrumbs"><a href="/">Home</a><span>About</span></div>
                </div>
            </div>
            <div class="container">
                <div class="content_block no-sidebar row">
                    <div class="fl-container span12">
                        <div class="row">
                            <div class="posts-block span12">
                                <div class="contentarea">

                                    <div class="row-fluid">
                                        <div class="span2 module_cont module_text_area">
                                        	<img alt="" src="{% get_static_prefix %}web/img/ds2-1.jpg">
                                        </div>
                                        <div class="span8 module_cont module_text_area">
                                            <blockquote>
                                                <p>The World is a book, and those who do not travel read only a page.</p>
                                                <div class="author">Saint Augustine</div>
                                            </blockquote>
                                            <p>I'm programmer, application developer, systems administrator, Linux professional. Based in Prague, Czech Republic. Photography is just my hobby as well as travelling, and every day I try to discover their unknown challanges.</p>
                                            <p>This site has started as a simple mirror of my <a href="https://www.flickr.com/photos/pixelfields241/">Flickr account</a>. But hopefully became a graphic journal of events through the lens of a camera in the near future.</p>
                                            <p>Hope you enjoy the images!</p>
                                        </div>
                                    </div><!-- .row-fluid -->

                                    <div class="row-fluid">
                                        <div class="span12 module_cont module_contact_icons module_small_padding1">
                                            {{ 'pixelfields@gmail.com'|obfuscate_mailto }}
                                            <a href="https://twitter.com/pixelfields" class="ico_socialize_twitter2 ico_socialize type1"></a>
                                            <a href="https://www.pinterest.com/pixelfields0147/" class="ico_socialize_pinterest ico_socialize type1"></a>
                                            <a href="https://plus.google.com/100779378630217370317/posts" class="ico_socialize_google2 ico_socialize type1"></a>
                                        </div>
									</div><!-- .row-fluid -->
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">&nbsp;</div>


                                </div><!-- .contentarea -->
                            </div>
                            <div class="left-sidebar-block span3">
                                //Sidebar Text
                            </div><!-- .left-sidebar -->
                        </div>
                        <div class="clear"><!-- ClearFix --></div>
                    </div><!-- .fl-container -->
                    <div class="right-sidebar-block span3">
                        <aside class="sidebar">
                        </aside>
                    </div><!-- .right-sidebar -->
                    <div class="clear"><!-- ClearFix --></div>
                </div>
            </div><!-- .container -->
        </div><!-- .content_wrapper -->

    </div><!-- .main_wrapper -->

    <div class="pre_footer">
        <div class="container">
            <aside id="footer_bar" class="row">

                <div class="span3">
                    <div class="sidepanel widget_posts">
                        <div class="bg_title"><h3 class="sidebar_header">Latest Photos</h3></div>
                        <ul class="recent_posts">
                            {% for fw in featured_works %}
                            {% if forloop.counter <= 2 %}
                            <li>
                                <div class="recent_posts_img">
                                    {% thumbnail fw.square_150_url "88x88" crop="center" quality=100 as im %}
                                    <a href="{% url 'photo_detail' slug=fw.slug %}"><img src="{{ im.url }}" alt="" width="88" height="88"/></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="recent_posts_content">
                                    <a href="{% url 'photo_detail' slug=fw.slug %}" class="post_title">{{ fw.title }}</a>
                                    {{ fw.description }}
                                </div>
                                <div class="clear"></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div><!-- .sidepanel -->
                </div>
                {% if tweets %}
                <div class="span3">
                    <div class="sidepanel widget_twitter">
                        <div class="bg_title"><h3 class="sidebar_header">Latest Tweets</h3></div>
                        <ul class="tweet_list twitter_list">
                            {% for tweet in tweets %}
                            {% if forloop.counter != 4 %}
                            <li>
                            	<span class="tweet_time">{{ tweet.text }} <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank">@{{ tweet.user.name }}</a></span>
                            </li>
                            {%  endif %}
                            {%  endfor %}

                            </li>
                        </ul>

                    </div><!-- .widget_twitter -->
                </div>
                {% endif %}
                <div class="span3">
                    <div class="sidepanel widget_flickr">
                        <div class="bg_title"><h3 class="sidebar_header">Flickr Photostream</h3></div>
                        <div class="flickr_widget_wrapper">
                            <script src="https://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=25921348@N04"></script>
                        </div>
                    </div><!-- .sidepanel -->
                </div>
            </aside>
        </div>
    </div><!-- .pre_footer -->

{% endblock %}

{% block footer %}

    <footer>
        <div class="footer_line container">
            <div class="socials">
            	<ul class="socials_list">
                    <li><a href="https://twitter.com/pixelfields" class="ico_social-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/profile/view?id=98909264" class="ico_social-linked"></a></li>
                    <li><a href="https://www.flickr.com/photos/pixelfields241/" class="ico_social-flickr"></a></li>
                    <li><a href="https://www.pinterest.com/pixelfields0147/" class="ico_social-pinterest"></a></li>
                    <li><a href="https://plus.google.com/100779378630217370317/posts" class="ico_social-gplus"></a></li>
                </ul>
            </div>
        	<div class="copyright">&copy; 2015 pixelfields. All Rights Reserved.</div>
            <div class="clear"></div>
        </div>
    </footer>

    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% get_static_prefix %}web/js/theme.js"></script>

{% endblock %}