{% extends "_base.html" %}

{% load static %}
{% load url from future %}
{% load thumbnail %}
{% load photoblog %}

{% block additional_headers %}
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}web/css/fs_gllaery.css">
	<script type="text/javascript" src="{% get_static_prefix %}web/js/fs_gllaery.js"></script>
{% endblock %}

{% block body_class %}class="fullscreen_layout"{% endblock %}

{% block page_title %} | Home{% endblock %}

{% block page_description %}Photos from pixelfield's trips.{% endblock %}

{% block page_keywords %}Photography, Photo, Photos, Nikon, Fujifilm{% endblock %}

{% block content %}
    <div class="fullscreen_block"></div>

    <script>
		gallery_set = [	//Gallery Data
            {% for photo in photos %}
                {%  if not photo.original_url|is_portrait %}
                {% thumbnail photo.original_url "1920x1080" quality=100 as im %}

                {image : '{{ im.url }}', thmb : '{{ photo.square_150_url }}', alt : '{{ photo.title }}', fit : 'cover', title : "{{ photo.title }}", description: "{{ photo.description }}"},

                {% endthumbnail %}
                {% endif %}
            {% endfor %}
		];
		$('body').fs_gallery({
			fx : 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
			slide_time : 3300, /*This time must be < then time in css*/
			slides : gallery_set
		});
	</script>

	<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% get_static_prefix %}web/js/theme.js"></script>

{% endblock %}