{% extends "_base.html" %}

{% load static %}
{% load thumbnail %}

{% block additional_headers %}
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <style>
      #map-canvas {
        width: 870px;
        height: 310px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

{% endblock %}

{% block page_title %} | {{ object.title }}{% endblock %}

{% block page_description %}{{ object.title }}{% if object.exif.exif_date_taken %}, taken {{ object.exif.exif_date_taken|date }}{% endif %}{% if object.exif.exif_camera %} by {{ object.exif.exif_camera }}{% endif %}{% if address %} at {{ address }}{% endif %}.{% endblock %}

{% block page_keywords %}Photography, Photo, Photos, Nikon, Fujifilm,{% for tag in object.tags.all %} {{ tag.name }},{% endfor %}{% if not object.tags.names %}{% for s in in_sets %} {{ s.title }},{% endfor %}{% endif %}{% endblock %}

{% block content %}

    <div class="main_wrapper">
        <!-- C O N T E N T -->
        <div class="content_wrapper">
        	<div class="page_title_block">
            	<div class="container">
                    <h1 class="title">{{ object.title }}</h1>
                    <div class="breadcrumbs"><a href="/">Home</a><span>{{ object.title }}</span></div>
                </div>
            </div>
            <div class="container">
                <div class="content_block right-sidebar row">
                    <div class="fl-container span9">
                        <div class="row">
                            <div class="posts-block span9">
                                <div class="contentarea">

                                    <div class="row-fluid">
                                        <div class="span12 module_cont module_blog">

                                            <div class="blog_post portfolio_post portfolio_block">
	                                            <div class="blog_head">
                                                    <div class="blogpost_meta">
                                                        {% if object.exif.exif_date_taken %}<span>{{ object.exif.exif_date_taken|date }}</span>{% endif %}
                                                        {% if object.exif.exif_camera %}<span><em>Equipment: {{ object.exif.exif_camera }}</em></span>{% endif %}
                                                        {% if object.exif.exif_exposure %}<span><em>Exposure: {{ object.exif.exif_exposure }}</em></span>{% endif %}
                                                        {% if object.exif.exif_aperture %}<span><em>Aperture: {{ object.exif.exif_aperture }}</em></span>{% endif %}
                                                        {% if object.exif.exif_iso %}<span><em>Iso: {{ object.exif.exif_iso }}</em></span>{% endif %}
                                                        {% if object.exif.exif_focal %}<span><em>Focal: {{ object.exif.exif_focal }}</em></span>{% endif %}
                                                        {% if object.exif.exif_flash %}<span><em>Flash: {{ object.exif.exif_flash }}</em></span>{% endif %}
                                                        {% if address %}<span><em>Location: {{ address }}</em></span>{%  endif %}
                                                    </div>
                                                </div><!-- .blog_head -->

                                                <div class="featured_image_full columns1">
                                                    <div class="filter_img gallery_item">
                                                        <a href="{{ object.original_url }}" rel="prettyPhoto" class="prettyPhoto">
															<img src="{{ object.large_url }}" alt="" width="870" height="480">
                                                            <div class="gallery_fadder"></div>
                                                            <div class="ico_gallery"></div><!-- .ico_gallery -->
                                                            <div class="gallery_descr">
                                                                <h6 class="gallery_title">{{ object.title }}</h6>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div><!-- .featured_image_full -->

                                                <article class="contentarea">
                                                    {{ object.description }}
                                                </article>

                                                <div class="blogpost_share">
                                                    <a href="https://twitter.com/share?url=http://www.pixelfields.net{% url 'photo_detail' slug=object.slug %}" target="_blank" class="ico_socialize_twitter2 ico_socialize type1"></a>
                                                    <a href="http://pinterest.com/pin/create/button/?url=http://www.pixelfields.net&amp;media=http://www.photopapers.tk{% url 'photo_detail' slug=object.slug %}" target="_blank" class="ico_socialize_pinterest ico_socialize type1"></a>
                                                    <a href="https://plus.google.com/share?url=http://www.pixelfields.net{% url 'photo_detail' slug=object.slug %}" target="_blank" class="ico_socialize_google2 ico_socialize type1"></a>
                                                    <div class="clear"><!-- ClearFix --></div>
                                                </div>
                                            </div><!--.blog_post_preview -->
                                        </div>
                                    </div><!-- .row-fluid -->
                                    {% if not lat %}
                                    <div class="row-fluid">
                                        <div class="span12 module_cont module_feature_posts">
                                        	<div class="bg_title"><h3 class="headInModule">Latest Photos</h3></div>
                                            <div class="featured_slider">
                                                <div class="carouselslider featured_posts items3" data-count="3">
                                                    <ul class="item_list">
                                                        {% for fw in featured_works %}
                                                        {%  if not fw.small_320_url|is_portrait %}
                                                        <li>
                                                            <div class="item">
                                                                <div class="img_block">
                                                                    {% thumbnail fw.small_320_url "270x190" crop="center" quality=100 as im %}
                                                                	<img src="{{ im.url }}" alt="" width="270" height="190">
                                                                    {%  endthumbnail %}
                                                                    <div class="ico_gallery"></div>
                                                                    <div class="carousel_fadder"></div>
                                                                </div>
                                                                <div class="carousel_body">
                                                                    <div class="post_type_ico">
                                                                        <span class="post_type_image"></span>
                                                                    </div><!-- .post type -->
                                                                    <div class="carousel_title">
                                                                        <h6><a href="{% url 'photo_detail' slug=fw.slug %}">{{ fw.title }}</a></h6>
                                                                    </div>
                                                                    <div class="carousel_desc">
                                                                        <div class="exc">{{ fw.description }}</div>
                                                                    </div>
                                                                    <div class="carousel_meta"><span>{{ fw.exif.exif_date_taken|date }} {% if fw.tags.all %}in{% endif %}</span> {% for i in fw.tags.all %}<a href="{{ i.slug }}">{{ i.name }}</a> {% endfor %}</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}

                                                    </ul>
                                                </div>
                                                <div class="clear"></div>
                                            </div><!-- .featured_slider -->
                                        </div><!-- .module_cont -->
                                    </div><!-- .row-fluid -->
                                    {% else %}
                                    <div class="row-fluid">
                                        <div class="span12 module_cont module_google_map">
                                            <div id="map-canvas"></div>
                                        </div><!-- .module_cont -->
                                    </div><!-- .row-fluid -->
                                    {% endif %}
                                    <div class="row-fluid">
                                        <div class="span12 module_cont">
                                            <a href="javascript:history.back()" class="btn_back">Back</a>
                                        </div>
                                    </div><!-- .row-fluid -->

                                </div><!-- .contentarea -->
                            </div>
                            <div class="left-sidebar-block span3">

                            </div><!-- .left-sidebar -->
                        </div>
                        <div class="clear"><!-- ClearFix --></div>
                    </div><!-- .fl-container -->
                    <div class="right-sidebar-block span3">
                        <aside class="sidebar">
                            {% if tweets %}
                            <div class="sidepanel widget_twitter">
                                <div class="bg_title"><h3 class="sidebar_header">Latest Tweets</h3></div>
                                <ul class="tweet_list twitter_list">
                                    {%  for tweet in tweets %}
                                    <li>
                                        <span class="tweet_time">{{ tweet.text }} <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank">@{{ tweet.user.name }}</a></span>
                                    </li>
                                    {%  endfor %}
                                </ul>
                            </div><!-- .widget_twitter -->
                            {% endif %}

                            <div class="sidepanel widget_tag_cloud">
                                <div class="bg_title"><h4 class="sidebar_header">In sets</h4></div>
                                <div class="tagcloud">
                                    {% for s in in_sets %}
                                    <a href="{% url 'set' slug=s.slug  %}">{{ s.title }}</a>
                                    {%  endfor %}

                                </div>
                                <div class="clear"></div>
                            </div><!-- .sidepanel -->
                            <div class="sidepanel widget_flickr">
                                <div class="bg_title"><h3 class="sidebar_header">Flickr Photostream</h3></div>
                                <div class="flickr_widget_wrapper">
                                    <script src="https://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=25921348@N04"></script>
                                </div>
                            </div><!-- .sidepanel -->
                            {%  if object.tags.names %}
                            <div class="sidepanel widget_tag_cloud">
                                <div class="bg_title"><h4 class="sidebar_header">Tags</h4></div>
                                <div class="tagcloud">
                                    {% for tag in object.tags.all %}
                                    <a href="{% url 'tag' tag=tag.slug %}">{{ tag.name }}</a>
                                    {%  endfor %}

                                </div>
                                <div class="clear"></div>
                            </div><!-- .sidepanel -->
                            {%  endif %}
                        </aside>
                    </div><!-- .right-sidebar -->
                    <div class="clear"><!-- ClearFix --></div>
                </div>
            </div><!-- .container -->
        </div><!-- .content_wrapper -->

    </div><!-- .main_wrapper -->

    <div class="pre_footer">
        <div class="container">
            <aside id="footer_bar" class="row">
                <div class="span3">
                    <div class="sidepanel widget_posts">
                        <div class="bg_title"><h3 class="sidebar_header">Latest Photos</h3></div>
                        <ul class="recent_posts">
                            {% for fw in featured_works %}
                            {% if forloop.counter <= 2 %}
                            <li>
                                <div class="recent_posts_img">
                                    {% thumbnail fw.square_150_url "88x99" crop="center" quality=100 as im %}
                                    <a href="{% url 'photo_detail' slug=fw.slug %}"><img src="{{ im.url }}" alt="" width="88" height="88"/></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="recent_posts_content">
                                    <a href="{% url 'photo_detail' slug=fw.slug %}" class="post_title">{{ fw.title }}</a>
                                    {{ fw.description }}
                                </div>
                                <div class="clear"></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div><!-- .sidepanel -->
                </div>
                {% if tweets %}
                <div class="span3">
                    <div class="sidepanel widget_twitter">
                        <div class="bg_title"><h3 class="sidebar_header">Latest Tweets</h3></div>
                        <ul class="tweet_list twitter_list">
                            {% for tweet in tweets %}
                            {% if forloop.counter != 4 %}
                            <li>
                            	<span class="tweet_time">{{ tweet.text }} <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank">@{{ tweet.user.name }}</a></span>
                            </li>
                            {%  endif %}
                            {%  endfor %}

                            </li>
                        </ul>

                    </div><!-- .widget_twitter -->
                </div>
                {% endif %}
                <div class="span3">
                    <div class="sidepanel widget_flickr">
                        <div class="bg_title"><h3 class="sidebar_header">Flickr Photostream</h3></div>
                        <div class="flickr_widget_wrapper">
                            <script src="https://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=25921348@N04"></script>
                        </div>
                    </div><!-- .sidepanel -->
                </div>
            </aside>
        </div>
    </div><!-- .pre_footer -->

{%  endblock %}

{% block footer %}

    <footer>
        <div class="footer_line container">
            <div class="socials">
            	<ul class="socials_list">
                    <li><a href="https://twitter.com/pixelfields" class="ico_social-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/profile/view?id=98909264" class="ico_social-linked"></a></li>
                    <li><a href="https://www.flickr.com/photos/pixelfields241/" class="ico_social-flickr"></a></li>
                    <li><a href="https://www.pinterest.com/pixelfields0147/" class="ico_social-pinterest"></a></li>
                    <li><a href="https://plus.google.com/100779378630217370317/posts" class="ico_social-gplus"></a></li>
                </ul>
            </div>
        	<div class="copyright">&copy; 2015 pixelfields. All Rights Reserved.</div>
            <div class="clear"></div>
        </div>
    </footer>

    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% get_static_prefix %}web/js/theme.js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var myLatlng = new google.maps.LatLng({{ lat }},{{ lng }});
        var mapOptions = {
          center: myLatlng,
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: '{{ object.title }}'
      });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}