{% extends "_base.html" %}

{% load static %}

{% block additional_headers %}
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{%  get_static_prefix %}web/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block body_class %}class="fullscreen_layout"{% endblock %}

{% block page_title %} | {{ tag }}{% endblock %}

{% block page_description %}Photos tagged by {{ tag }}.{% endblock %}

{% block page_keywords %}Photography, Photo, Photos, Nikon, Fujifilm, {{ tag }}{% endblock %}

{% block content %}

    <div class="fullscreen_block">
		<div class="fs_grid_module">
            {% for obj in objects %}
        	<div class="grid_gallery-item">
                <div class="item_hover">
                	<div class="item_hover-img">
                		<img src="{{ obj.medium_url }}" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="{{ obj.original_url }}" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="{% url 'photo_detail' slug=obj.slug %}" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>{{ obj.title }}</h3></div>
                        <div class="item_hover-descr">
                            Taken on {{ obj.exif.exif_date_taken|date }} by {{ obj.exif.exif_camera }}
                        </div>
                    </div>
                </div><!-- .item_hover -->
            </div><!-- .grid_gallery-item -->
            {% endfor %}

            <div class="clear"></div>
        </div><!-- .fs_grid_module -->
	</div> <!-- .fullscreen_block -->

    <script>
		$(document).ready(function(){
		});
		$(window).load(function(){
			//$('.fs_grid_module').masonry();
			$('.fs_grid_module').masonry({
				itemSelector: '.grid_gallery-item',
				isAnimated: true
			});
			setTimeout("$('.fs_grid_module').masonry()",500);
		});
		$(window).resize(function(){
			$('.fs_grid_module').masonry();
		});
    </script>
	<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{%  get_static_prefix %}web/js/theme.js"></script>

{% endblock %}